.launch {
	background-color:darkblue;
    color:white;
    width:65%;
	font-family: 'Roboto', sans-serif;
    font-weight:200px;
	font-size: 30px;
    border-radius:7px;
    height:10%;
	border-width: 0px;
}
body {
	text-align: center;
}